MixpanelStaticLibrary/DerivedData
MixpanelStaticLibrary/build
MixpanelBindingsClassic/obj
MixpanelBindingsClassic/bin
MixpanelBindings/obj
MixpanelBindings/bin
*.swp
MixpanelAndroid/bin
MixpanelAndroid/obj
